<% provide(:title, "Search Findings") %>
<h1>All Findings</h1>

<div class="table-data">
	<div class="table-data-content">
		<%= render '/findings/findings_rows_header' %>
		<%= render '/findings/findings_rows' %>
	</div>
</div>
<%= will_paginate @studies %>