<h1>Findings Database</h1>
<div class="home-content">
	Thanks for visiting the UX Research Findings Database. You can search all the findings we've added to the database using the links above, or check out some of the most recently added findings on the right.
</div>

<div class="recent">	
	<div class="table-data">
		<div class="table-data-content">
			<ul class="table-data-header">
				<li class="column-24">Recently added studies</li>
			</ul>
			<% for study in @recent_studies %>
				<ul class="table-data-row">
					<li class="column-4"><%= study.created_at.strftime("%m/%d") %></li>
					<li class="column-20"><%= link_to study.name, study %></li>
				</ul>
			<% end %> 
		</div>
	</div>
</div>
