<h1>Findings Database</h1>
<div class="recent">	
	<div class="table-data">
		<div class="table-data-content">
			<ul class="table-data-header">
				<li class="column-24">Recently added studies</li>
			</ul>
			<% for study in @recent_studies %>
				<ul class="table-data-row">
					<li class="column-6"><%= study.created_at.strftime("%m/%d/%Y") %></li>
					<li class="column-18"><%= link_to study.name, study %></li>
				</ul>
			<% end %> 
		</div>
	</div>
</div>
