<% provide(:title, @platform.platform_name) %>

<h1><%= @platform.platform_name %></h1>

<div class="border-box gray">
	<div class="border-box-content">
		<div class="border-box white">
			<div class="border-box-content">
				<p>
					<strong>Description: </strong><%= @platform.description %>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="table-data">
	<div class="table-data-content">
		<%= render @studies %>
	</div>
</div>
<%= will_paginate @studies %>