<ul class="table-data-row">
	<li class="column-4 study"><%= link_to finding.study.name, finding.study %></li>
	<li class="column-3 date"><%= finding.study.date.strftime("%m/%d/%Y") %></li>
	<li class="column-16 finding"><%= finding.content %></li>
</ul>