<% for study in @studies %>
    <% study.findings.each do |finding| %>
    	<ul class="table-data-row">
			<li class="column-4 study"><%= link_to study.name, study %></li>
			<li class="column-3 date"><%= study.date.strftime("%m/%d/%Y") %></li>
			<li class="column-14 finding"><%= finding.content %></li>
			<li class="column-3"></li>
		</ul>
    <% end %>
<% end %>