<ul class= "table-data-header">
	<li class="column-4"><a id="study" class="sorter">Study</a></li>
	<li class="column-3"><a id="date" class="sorter">Date</a></li>
	<li class="column-14"><a id="finding" class="sorter">Description</a></li>
	<li class="column-3">Tags</li>
</ul>