<ul class="table-data-row">
  <li class="column-22"><%= link_to activity_type.type_name, activity_type %></li>

  <li class="column-2"><%= link_to "Delete", activity_type, method: :delete, data: { confirm: "You sure?" } %></li>
</ul>