<div class="form-row finding-row">
  <div class="form-row-column column-24">
		<fieldset>
  		<%= f.text_field :content, :class => "finding" %>
  		<%= f.hidden_field :_destroy %>
  		<%= link_to "remove", '#', class: "remove_fields" %>
		</fieldset>
	</div>
</div>

