<% provide(:title, 'All studies') %>
<h1>All studies</h1>

<div><%= will_paginate %></div>

<div class="table-data">
	<div class="table-data-content">
  	<%= render @studies %>
	</div>
</div>

<%= will_paginate %>