<% provide(:title, 'All studies') %>
<h1>All Studies</h1>

<% if signed_in? %>
	<div class="btn-right">
		<a href="<%= new_study_path %>" class="symphony">
  		<div class="btn-bg">
    		<b class="icon add-user"></b>
    		<span>New Study</span>
  		</div>
		</a>
	</div>
<% end %>

<div class="table-data">
	<div class="table-data-content">
  	<% if signed_in? %>
  		<%= render 'studies_logged_in' %>
  	<% else %>
  		<ul class="table-data-header">
      	<li class="column-11"><a class="sorter" id="study">Study</a></li>
      	<li class="column-3"><a class="sorter" id="date">Date</a></li>
      	<li class="column-5"><a class="sorter" id="product">Product</a></li>
      	<li class="column-5"><a class="sorter" id="platform">Platform</a></li>
    	</ul>
  		<%= render @studies %>
  	<% end %>
	</div>
</div>

<%= will_paginate %>