<% provide(:title, 'All studies') %>
<h1>All Studies</h1>

<div class="btn-right">
	<a href="studies/new" class="symphony">
    <div class="btn-bg">
        <b class="icon add-user"></b>
        <span>New Study</span>
    </div>
	</a>
</div>

<div><%= will_paginate %></div>

<div class="table-data">
	<div class="table-data-content">
  	<%= render @studies %>
	</div>
</div>

<%= will_paginate %>