<% provide(:title, @study.name) %>
<%= render 'study_info' %>
<div class="table-data">
	<div class="table-data-content">
		<ul class="table-data-header">
			<li class="column-24">Findings</li>
		</ul>
		<%= render @findings %>
	</div>
</div>
<%= will_paginate @findings %>
