<% provide(:title, 'Search Results') %>
<h1>Search Results</h1>
<div class="table-data search-findings">
	<div class="table-data-content">
		<ul class="table-data-header">
			<li class="column-4"><a class="sorter" id="study">Study</a></li>
			<li class="column-3"><a class="sorter" id="date">Date</a></li>
			<li class="column-17"><a class="sorter" id="finding">Finding</a></li>
		</ul>
		<%= render @search.findings %>
	</div>
</div>