<ul class="table-data-row">
  <li class="column-21"><%= link_to product.product_name, product %></li>

  <li class="column-3"><%= link_to "Edit", edit_product_path(product) %> | <%= link_to "Delete", product, method: :delete, data: { confirm: "You sure?" } %></li>
</ul>