<% provide(:title, 'Products') %>

<ul class="breadcrumb">
	<li><%= link_to "Admin Panel", admin_panel_path %></li>
	<li>Products</li>
</ul>

<h1>Products</h1>

<% if signed_in? %>
	<div class="btn-right">
		<a href="<%= new_product_path %>" class="symphony">
  		<div class="btn-bg">
    		<b class="icon add-user"></b>
    		<span>New Product</span>
  		</div>
		</a>
	</div>
<% end %>

<div class="table-data">
	<div class="table-data-content">
  	<%= render @products %>
	</div>
</div>