<div class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <a href="http://www.citrixonline.com" class="footerLogo" target="_blank">Citrix Online</a>
        </div>
    </div>
</div>
