<div class="header">
 	<div class="header-logo">
  	<%= link_to "home", root_path, id: "logo" %>
  </div>
  <div class="header-nav">
    <ul class="nav-links">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Studies", studies_path %></li>
      <li class="last-child"><a href="/logout/link">Log Out</a></li>
   	</ul>
  </div>
</div>